## brewinstall apps
asciinema
agg
bat
btop
colordiff
duf
dust
fd
fzf
hugo
mistral-vibe
# mole
ncdu
node
# pandoc
procs
ripgrep
shellcheck
shmft
tree
tree-sitter-cli
webp
wget
zoxide
zsh-autosuggestions
zsh-completions
zsh-syntax-highlighting
