## brewinstall casks
# 8bitdo-ultimate-software-v2
brave-browser
claude
cleanmymac
cyberduck
discord
font-jetbrains-mono-nerd-font
hytale
iina
iterm2
keka
# logitech-g-hub
macs-fan-control
nvidia-geforce-now
proton-pass
# raspberry-pi-imager
rectangle
rustdesk
utm
vscodium
zed
zen
