# brewinstall casks
brave-browser
claude
cleanmymac
cyberduck
discord
# font-jetbrains-mono-nerd-font
font-jetbrains-mono
hytale
iina
iterm2
keka
macs-fan-control
nvidia-geforce-now
proton-pass
rectangle
rustdesk
utm
zed
zen
