## brewinstall apps
asciinema
agg
colordiff
duf
fd
fzf
hugo
# mole
ncdu
node
# pandoc
ripgrep
shellcheck
shmft
tree
tree-sitter-cli
webp
wget
zoxide
zsh-autosuggestions
zsh-completions
zsh-syntax-highlighting
