## brewinstall casks
brave-browser
claude
cleanmymac
cyberduck
discord
display-pilot
font-jetbrains-mono
ghostty
hytale
iina
keka
# logitech-g-hub
# macs-fan-control
nvidia-geforce-now
obsidian
proton-pass
rectangle
rustdesk
utm
zed
zen
